@charset "utf-8";

html {
  font-size:1em;
  font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif
}

.adding {
  width: 400px;
}

.text {
  display:grid;
  grid-template-columns: 150px auto;
  grid-gap: 2px;
  padding-top: 5px;
}

label {
  display: grid;
}

input {
  display: grid;
}

.onets {
  display:grid;
  grid-template-column:1fr;
}

/*#child-onet {
  display:none;
}
*/
.clusters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px; 
}

.cluster {
  display: grid;
/*  grid-template-columns: 30px 1fr; // use this if Checkboxes are used to select clusters */
  grid-template-columns: 1fr;
  height: auto;
  align-content:center;  
  background-color: rgb(200, 200, 200);
  /*
  padding-left: 10px;
  margin-bottom: 5px;
  */
}

.cluster-name {
  padding: 10px;
  text-align: center;
}

.selected {
  background-color: rgb(124, 252, 0);
  font-weight:bold;
}

/* use if Checkboxes are used.
  input[type=checkbox] {
  transform: scale(2);
}
*/
#add {
  display:grid;
  grid-columns:2fr;
  margin-bottom:10px;
  height: 50px;
  background-color:rgb(124, 252, 0); 
  font-size: 2em;
  font-weight:bold;

  
}

#clear-parent {
  display:grid;
  grid-columns:2fr;

  height: 50px;
  background-color:rgb(100, 100, 100);; /* rgb(204, 229, 255); */
  font-size: 1em;
  font-weight:bold;
  color: white;
}
.show-html {
 display:grid;
 width: 400px;
 grid-template-columns: 1fr; 
}

#show-html {
  grid-gap:20px;
  grid-columns:1fr;
  margin: 20px;
  height:30px;
  
}



